.containerDetails {
    align-items: center;
    background-image: url(https://wallpaper.dog/large/20419020.png);
    background-size: cover;
    height: 1050px;
    padding: 10px;
    border-radius: 10px;/* borde más redondeado*/
    
}

.details {
    border: 50px greenyellow; /*color del borde*/
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    background-color: beige;
    border-radius: 100px; /*borde más redondeado*/
    width: 300px; /*achicar el ancho de las tarjetitas*/
    padding: 100px;
    height: 450px;
    box-shadow: 0 0 80px yellowgreen; /*sombra que queda detrás*/
    margin-top: 200px;
    margin: auto;
    position:absolute;
    top: 130px;
    right: 800px; 
    text-align: center; /*centrar el texto*/
}

.image-container {
    position: absolute;
    top: 258px;
    left: 200px;
}
  
.image-container img {
    transform: scale(1.65);
} 

.card-container {
    display: flex; /*libertad de los elementos dentro del contenedor y se puedan mover libremente dentro de esa area*/
    flex-direction: column; /*para que los separe y los ponga en línea*/
    width: 380px; 
    height: 395px; 
    background-color: beige; /*color al fondo*/
    border: 1px solid grey; /*borde sólido a la tarjeta*/
    border-radius: 20px; /*borde para que no se vea tan cuadrado*/
    padding: 25px; /*espacio interior o margen interior*/
    cursor: pointer; /*para que cuando me pare sobre la cartita el cursor sea una mano*/
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0.2);
    transition: transform 0.5s ease-out;
    margin:auto;
}





