.buttonFilters {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    padding: 10px 10px;
    background-color:whitesmoke;
    box-shadow: 0 0 30px rgb(255, 0, 255); /*sombra que queda detrás*/
    color: black;
    border: 2px solid #FF00FF;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.6s ease;
    margin-right: 5px;
}

.filtercontainer{
    margin-top: 20px;
    margin-bottom: 20px;
}