.landing {
    background-image: url(https://wallpaperaccess.com/full/4167709.gif); /*color del fondo*/
    background-size: cover;
    border-radius: 10px; /*borde más redondeado*/
    width: 2350px; 
    height: 1110px;
    justify-content: center;
    align-items:center;
    /* margin:auto; */
    text-align:center;
}

.title {
    color: white;
    font-family:'Playfair Display', serif;
    font-size:40px;
    margin:auto;
    text-align-last: center;
    position:relative;
    right: 650px;
    top: 325px;
}

.buttonLanding {
    font-family:'Playfair Display', serif;
    font-size: 40px;
    padding: 10px 20px;
    background-color:black;
    color: orange;
    border: none;
    border-radius: 15px;
    position: relative;
    top: 220px;
    left: 380px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content:center;
    text-decoration: none;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    outline: none;
}
  
.buttonLanding:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5)
}
    
.buttonLanding:hover{
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}
              