.containerForm{
    display: flex;
    background-image:url( https://wallpapers.com/images/hd/pikachu-concept-fan-art-dl6iol5bdqg8d5c9.jpg);
    background-size: cover;
    height: 1250px;
    padding:10px;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}

.form-container {
    display: flex;
    font-family: 'Playfair Display', serif;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    background-color: antiquewhite;
    position: absolute;
    left: 75%;
    margin-top: 100px;
    width: 500px;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.id{
  display: flex;
  flex-direction: row;
  }

.name{
  display: flex;
  flex-direction: row;
}

.image{
  display: flex;
  flex-direction: row;
}

.hp{
  display: flex;
  flex-direction: row;
}

.attack{
  display: flex;
  flex-direction: row;
}

.defense{
  display: flex;
  flex-direction: row;
}

.speed{
  display: flex;
  flex-direction: row;
}

.height{
  display: flex;
  flex-direction: row;
}

.weight{
  display: flex;
  flex-direction: row;
}

.errors{
  color: rgb(210, 0, 0);
  font-size: small;
  height: 0;
}


